<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div id="navbar">
    <nav>
  <% if session[:user_id]%>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/users/<%=session[:user_id]%>/surveys/new">Create Survey</a></li>
      <li><a href="/users/<%=session[:user_id]%>">My Profile</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  <% else %>

  <div>
  <form id="login" method="post" action="/login">
    <input name="username" type="text" placeholder="Type in your username." value="<%= @user.username if @user%>"></input>
    <input name="password" type="password" placeholder="Type in your password." ></input>
    <input type="submit" value="Login"></input>
  </form>
  </div>

  <div>
  <form id="sign_up" method="post" action="/user">
    <input name="username" type="text" placeholder="Please choose a username." value="<%= @user.username if @user%>"></input>
    <input name="password" type="text" placeholder="Please choose a password." ></input>
    <input type="submit" value="Sign-up"></input>
  </form>
  </div>

  <% end %>
</nav>
  </div>
  <%= yield %>
</body>
</html>
