
<div id="profile">
<h1 id="welcome">Welcome, <%=@user.username.upcase%>!</h1>
<img id="photo" style="height:auto; width:auto; max-width:200px; max-height:200px; border:solid black 3px; float:right; margin-right:50px;" src="/images/<%=session[:user_id].to_s + ".jpg"%>"></img>

<div id="text">
<h2>Surveys Taken:</h2>
	<ol>

			<%if @user.survey_responses.any? %>
			<%@user.survey_responses.each do |survey_response|%>
				<li><a href="/surveys/<%=survey_response.survey.id%>"><%= survey_response.survey.title%></a></li>
			<%end%>

		<%end%>

	</ol>
<h2>Surveys Created:</h2>

	<ol class="created_surveys" >
		<%if Survey.all.where(survey_creator_id: session[:user_id]).any? %>
			<%Survey.all.where(survey_creator_id: session[:user_id]).each do |a_survey|%>
			<li>
				<%=a_survey.title%>
				<a class="delete" style="border: solid black 1px; padding: 2px;" href="/surveys/<%=a_survey.id%>">delete</a>
			</li> 
			<%end%>

		<%end%>

	</ol>




<h2> Upload a profile pic! </h2>
 <form method="post" action="/users/<%=session[:user_id]%>" enctype='multipart/form-data')>
   <input type='file' name='uploaded_photo')>
   <br>
   <input type='submit' value='Upload!'>
   <br>
 </form>

</div>

</div>
